/* Skills.css */
.skill-container{
  /* background-color: #05080f; */
  /* opacity: 0.1; */
  padding: 2.6vmin;
  border-radius: 30px;
  padding-bottom: 5vmin;
}
.skil-container__title{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5vmin;
  color: #4c8ce6;
  padding: 10px;
}


.skill-container__grid {
  padding: 2vmin;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid-item {
  flex: 0 0  calc(25% - 20px); /* Adjust the width and spacing as needed */
  box-sizing: border-box;
  color: #4c8ce6;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: .5vmin;
  font-size: 20px;
  text-align: center;
  aspect-ratio: 3/2;
  margin-bottom: 20px; /* Adjust the margin as needed */
  box-shadow: 0px 0px 20px #040911;
}

.grid-item:hover{
  box-shadow: 0px 0px 10px #4c8ce6;
}


.grid-item__props {
  font-size: 3.6vmin;
  /* filter: contrast(200%); */
  font-family: 'Montserrat', sans-serif;
}

.grid-item__props p {
  font-size: 1.4vmin;
  color: #686f85;
}










