@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.skill-container{
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 5rem; */
  /* transition: 500ms; */
}
.skill__level{
  background-color: aqua;
  width: 100%;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5rem; */
  /* transition: 500ms; */
}
.skill-container__title{
  padding-bottom: 5%;
  width: 100%;

  text-align: center;
  color: #686f85;
  padding-left: 10px;
  /* font-family:'Courier New', Courier, monospace; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-family: "Red Hat Display", sans-serif; */
  font-weight: 900;
  font-size: 40px;
}

.skill-container__Cards{
  /* background: url("../Assets/img/charitableBanner.jpg"); */
  /* background-color: #05080f; */
  /* opacity: 0.1; */
  display: flex;
  /* padding: 5rem; */
  justify-content: space-between;
  /* padding-bottom: 40px; */
}
.skills__Card{
  padding: 2rem;
  /* filter:drop-shadow(100px); */
  border-left: dashed 1px;
  /* border-left: 1px; */
  border-style: solid;
  box-shadow: 0px 0px 10px rgb(1, 1, 12);
  backdrop-filter: blur(10);
  background: var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%));

  /* filter: brightness(120%); */
  /* border-/style: solid; */
  filter: contrast(120%);
  border-width: 1px;
  border-radius: 10px;

  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-color:#4c8ce6 ;
  /* padding: 10px; */
  /* padding-bottom: 70px; */
border-radius: 10px;
border-style:unset;
  
  
  margin: 10px;
  color: black;
}
.skills__title{
  color: aliceblue;
  font-size: 60%;
  padding-left: 2px;
}

.skill_grid {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 calc(33.33% - 20px);
  background: transparent;
}
.skill_name{
  /* border: rgb(145, 0, 0); */
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  color:#bec4d696;
  font-weight: 500;
  /* background-color:#686f85; */
  /* background-color:#010409; */
  background: var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 100%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 100%));

  filter: contrast(120%);
  padding: 5px;
  /* border-color: #686f85; */
  /* border-style: solid; */
  /* border-width: 1px; */
  border-radius: 5px;
  margin: 3px;
}

/* .skil-container__title{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5vmin;
  color: #4c8ce6;
  padding: 10px;
} */


/* .skill-container__grid {
  padding: 2vmin;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: transparent;
} */
/* .card-style {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  color: black;
} */

/* .grid-item {
  flex: 0 0 calc(10% - 10px); 
  box-sizing: border-box;
  color: #4c8ce6;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: .5vmin;
  font-size: 20px;
  text-align: center;
  aspect-ratio: 3/2;
  margin-bottom: 20px; 
  box-shadow: 0px 0px 20px #040911;
} */

/* .grid-item:hover{
  box-shadow: 0px 0px 10px #4c8ce6;
} */


/* .grid-item__props {
  font-size: 3.6vmin;
  font-family: 'Montserrat', sans-serif;
}

.grid-item__props p {
  font-size: 1.4vmin;
  color: #686f85;
}

 */








