.inventory{
  /* Correct the typo: Change 100lv to 100vh */
  /* display:flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items:center; Center vertically */
  margin-left: 5%;
  margin-right: 5%;
  
}


.inventory__about{
  height: 100vh; /* Correct the typo: Change 100lv to 100vh */
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  align-items:center; 
}

.pic{
  width: 30px;
  height: 300px;
}





.tilt__card{
  height: 100px;
  width: 100px;
  background-color: #030509;
  border: solid 1px #4c8ce6;
  border-radius: 10px;
  /* filter: blur(); */
  backdrop-filter: blur(20px);
}


.tilt__title{
  color: white;
  align-items: center;

}

.test {
  backdrop-filter: blur(10px);
}