.inventory{
  height: 100vh; /* Correct the typo: Change 100lv to 100vh */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center; /* Center vertically */
  padding-left: 22%;
  padding-right: 22%;
}


.inventory__arrow{
    color:#ccd6f6;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* float: right; */
    /* float: inline-end; */
    font-size: 100px;
}