.inventory{
  margin-left: 5%;
  margin-right: 5%;
  height: fit-content;
}


.inventory__about{
  height: 100vh; 
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  align-items:center;

}


.pic{
  width: 30px;
  height: 400px;
}

.tilt__card{
  height: 100px;
  width: 100px;
  background-color: #030509;
  border: solid 1px #4c8ce6;
  border-radius: 10px;
  /* filter: blur(); */
  backdrop-filter: blur(20px);
}


.tilt__title{
  color: white;
  align-items: center;

}

.test {
  backdrop-filter: blur(10px);
}

@media screen and (max-width:600px) {
  .inventory{
    /* padding-left: 0px; */
    /* padding-right: 0px; */
    margin-left: 0px;
    margin-right: 10px;
  }
  
}