.projects {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    row-gap: 8rem;
    overflow: hidden;
    /* background: var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%)); */
    /* padding: 20px; */
}

.project__card__header {
    color: aliceblue;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    color: var(--blue);
    margin-bottom: 3.6rem;
}
.header-icon{
    color: aliceblue;
}

.project__card {
    padding: 2rem 1.8rem;
    background-color: rgb(43, 43, 43);
    border-radius: 1.2rem;
    transition: all 0.25s ease 0s;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: rgb(255, 255, 255);
    background: var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%));


}

.project-tech {
    display: flex;

}

.project-tech__name {
    padding: 5px;
    color: aliceblue;
}