.navbar {
    padding-top: 20px;
    /* position: absolute; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    /* background-color: transparent; */
    color: white;
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(20px);
    /* background-color: #0f172a; */
    background:(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%));


    z-index: 10;
}

.loader-logo{
    margin: 20px;
    display: flex;
}
.loader-logo-title{
    font-family: "Montserrat',sans-serif";
    color:#4c8ce6;
    font-weight: bold;
    filter: brightness(120%);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    font-size:20px;
    display: flex;
    align-items: center;
}

.navbar-item {
    color: #686f85;
    background-blend-mode:hard-light;
    
    display: flex;
    position: fixed;
    right: 0;
    padding-right: 20px;
    align-items: center;
}

.navbar-item button{
    padding: 20px;
    background-color: transparent;
    /* color: #00ffe0; */
    color:#4c8ce6;

    border: 0px;
    /* animation-duration: 100ms; */
}

.navbar-item button:hover{
    /* animation-duration: 100ms; */
    animation-direction: reverse;
    text-decoration: overline 2px;
    
}

.navbar-resume-button{ 
    height: 40px;
    /* color: white; */
    box-shadow: -1px 1px 5px black;
    background-color: #961d1d;
    /* background-color: #0f172a;
    box-shadow: 0px 2px 2px #00ffe0; */
    margin: 20px;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    /* background: 0 0; */
    border: 0px solid;
    border-radius: 5px;
    /* border-color: #000000; */
  
    /* border-image: linear-gradient(to top,#009281, #00292b) 1 ; */
    /* border-image-repeat: round; */
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 12px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    box-sizing: border-box;

  

}

.navbar-resume-button:hover {
    /* box-shadow: 4px 4px 2px #00ffe0; */
    box-shadow: 4px 4px 2px black;
    background-color: #0f172a;
    transform: translate(-4px,-4px);
    transition: 500ms;
}
.navbar-resume-button:focus-within{
    outline-offset: 5px;
}



.navbar.visible {
    transition: 600ms;
    transform: translateY(0);
  }
  
  .navbar.hidden {
    transition: 600ms;
    transform: translateY(-100%);
  }
  

