.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    /* background-color: transparent; */
    /* color: white; */
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(20px);
    /* background-color: #0f172a; */
    background: (--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%));


    z-index: 10;
}
.title{
    color: #4c8ce6;
    font-size: 2rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    filter: brightness(120%);
    align-items: center;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.loader-logo {
    margin: 20px;
    display: flex;
    
}

.navbar-item {
    /* font-size: x-small; */

   
    background-blend-mode: hard-light;
    gap: 1.8rem;
    display: flex;
    position: fixed;
    right: 0;
    padding-right: 20px;
    align-items: center;
}

.menu-items {
    padding: 5px;
    font-weight: 500;
    transition: filter 0.25s ease 0s;
    text-transform: uppercase;
    font-family: "Red Hat Display", sans-serif;
    /* font-size: larger; */
    text-decoration: none;
    color: #53608b;
}

.menu-items a:visited {
    text-decoration: none;
}

.menu-items:hover {
    /* animation-duration: 100ms; */
    animation-direction: reverse;
    text-decoration: overline 2px;
    color: #53608b;

}

.navbar-resume-button {
    display: flex;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #686f85;
    font-weight: 500;
    font-family: "Red Hat Display", sans-serif;
    height: 40px;
    /* color: white; */
    box-shadow: -1px 1px 5px black;
    background: var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398949 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096ddea1 0, transparent 75%));
    box-shadow: 0px 2px 5px #000000;
    /* margin: 20px; */
    outline: 0;
    align-items: center;
    /* background: 0 0; */
    font-size: 1.2rem;
    gap: 8px;
}

.navbar-resume-button:hover {
    /* box-shadow: 4px 4px 2px #00ffe0; */
    box-shadow: 4px 4px 2px black;
    background-color: #0f172a;
    transform: translate(-4px, -4px);
    transition: 500ms;
}

.navbar-resume-button:focus-within {
    outline-offset: 5px;
}

.navbar.visible {
    transition: 600ms;
    transform: translateY(0);
}

.navbar.hidden {
    transition: 600ms;
    transform: translateY(-100%);
}

.toggle-icon{
    padding: 1.2rem;
    font-size: x-large;
    color: #53608b;

}
.toggle-icon:hover{
    color: #4c8ce6;
    transform: scale(1.2);
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    /* background-color:#0f172a; */
    color: #53608b;
    /* background: var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0), radial-gradient(ellipse at 60% 0%, #096bde10 0)); */
    backdrop-filter: blur(20px);
}

@media screen and (max-width: 600px) {
    .navbar{
        padding: 0px;
    }
}