.side-bar{
    size: 10px;
    display: grid;
    align-content: end;
    position: fixed;
    width: 10px;
    color: rgb(255, 255, 255);
    height: 90vh;
    font-size: 30px;
    padding: 20px;

}
.logo{
    display: flex;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border: 0px;
    color: #4c8ce6;
    /* flex-direction: row-reverse; */
    
}

.logo :hover{
    /* animation-duration: 400ms; */
    transition-duration: 400ms;
    display: flex;
    flex-direction: row-reverse;
    /* padding: 0px; */
    font-size: 30px;
}
