.side-bar{
    position: fixed;
    background-color: #4c8ce6;
    width: 100%;

}
.logo{
    display: flex;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border: 0px;
    color: #4c8ce6;
  
}

.logo :hover{
  
    transition-duration: 400ms;
    display: flex;
    flex-direction: row-reverse;
   
    font-size: 30px;
}
