.footer{
    /* margin-top: 5rem; */
    background-color: black;
    background: var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 100%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 100%));
    padding: 2rem;
    border-top: solid 1px #4c8ce6;

}
.footer_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.footer_addendum{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 100;
    color: aliceblue;
    font-size:smaller;
    /* font-size: min(calc(1rem * (15 / (var(--system-dimension-fontSizeDynamic) + .167 * var(--system-dimension-fontSizeDifference)))),15px); */
    display: flex;
    width: 50%;
    justify-content: space-between;
    /* flex: initial; */
    text-align: initial;

}

.footer__list{
    align-items: center;
    
    gap: 1rem;
    color: aliceblue;
    display: flex;
    list-style: none;
    font-size: min(calc(1rem * (15 / (var(--system-dimension-fontSizeDynamic) + .167 * var(--system-dimension-fontSizeDifference)))),15px);
}
.footer_logo{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}