.card{
    /* height: 200px; */
    /* width: 200px; */
    border-style: none;
    background-color: #030509;
    border: solid 1px #4c8ce614;
    border-radius: 10px;
    /* border-style:; */
    /* background-color: transparent; */
    /* position: relative; */
    /* filter: blur(); */
    /* backdrop-filter: blur(20px); */
    /* background-color: #bf39897e ; */
}
