/* App.css */
#tsparticles {
  z-index: -20;
  position:fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -10;
}
.app__body{
  padding-top: 10%;
  scroll-behavior: smooth;
  ;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 700px){
  .App{

  }
  
}